# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Model files (if using Git LFS, remove *.keras from here)
# *.keras
# *.tflite
# *.h5

# Logs
*.log
